<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Alpha-Blog!">
    <meta name="keywords" content="web design, Ruby on Rails, alpha-blog, professional web design">
    <meta name="author" content="Boris Removic">
    <title>Alpha-Blog | Welcome</title>
    <link rel="stylesheet" href="/code/rails_projects/alpha-blog/app/assets/stylesheets/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="blog">
          <h1>Alpha-Blog Welcome</h1>
        </div>
        <nav>
          <ul>
            <li>
              
              <li><%= link_to "About", about_path %></a></li>
            </li>
          </ul>
        </nav>
      </div>

    </header>
    <section id="showcase">
      <div class="container">
        <h1> Alpha-Blog Homework</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.</p>
        
      
      </div>
    </section>

    <section id ="newsletter">
      <div class="contrainer">

          <form>
            <input type="email" placeholder="Enter Email...">
            <button type="submit" class="button_1">Subscribe</button>
          </form>
          <footer>
           
            <%= link_to image_tag("ror.png"), "www.mashrurhossain.com" %>
            <p>BRDESIGN Web Deisgn, Copyright &copy; 2017</p>
          </footer>
  </body>
</html>
